[Unit]
Description=Renew MegaProxy config API TLS certificate
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm --network host -v /etc/letsencrypt:/etc/letsencrypt -v /var/lib/letsencrypt:/var/lib/letsencrypt certbot/certbot:{{ megaproxy_services.config_api.certbot_version }} renew --cert-name megaproxy-config-api --quiet
ExecStartPost=/usr/bin/systemctl reload nginx
